In [162]:
#Inicializando o Spark

import os
import sys

os.environ['PYSPARK_PYTHON'] = sys.executable
os.environ['PYSPARK_DRIVER_PYTHON'] = sys.executable

from pyspark.sql import SparkSession

import pyspark.sql.functions as func

spark = SparkSession.builder.appName("relatorio_shoppings").getOrCreate()

In [206]:
#Importando arquivo excel e definindo schema

from decimal import Decimal
import pandas as pd

cols_ranking_lojas = [{"Loja","Quantidade de Produtos Vendidos","Ticket Médio"}]
pd_file = pd.read_excel("data\\raw\\vendas.xlsx",sheet_name="Plan1",converters={
    "Código Venda":int,
    "Data":str,	
    "ID Loja":str,	
    "Produto":str,	
    "Quantidade":int,	
    "Valor Unitário":Decimal, 
    "Valor Final":Decimal
})

#Criando dataframe spark a partir de um dataframe pandas

df_ranking = spark.createDataFrame(pd_file)
df_ranking.show()

+------------+-------------------+--------------------+--------------------+----------+--------------------+--------------------+
|Código Venda|               Data|             ID Loja|             Produto|Quantidade|      Valor Unitário|         Valor Final|
+------------+-------------------+--------------------+--------------------+----------+--------------------+--------------------+
|           1|2019-01-01 00:00:00|  Iguatemi Esplanada|      Sapato Estampa|         1|358.0000000000000...|358.0000000000000...|
|           1|2019-01-01 00:00:00|  Iguatemi Esplanada|            Camiseta|         2|180.0000000000000...|360.0000000000000...|
|           1|2019-01-01 00:00:00|  Iguatemi Esplanada|       Sapato Xadrez|         1|368.0000000000000...|368.0000000000000...|
|           2|2019-01-02 00:00:00|      Norte Shopping|             Relógio|         3|200.0000000000000...|600.0000000000000...|
|           2|2019-01-02 00:00:00|      Norte Shopping|        Chinelo Liso|         1|71.00000000000000...|71.00000000000000...|
|           3|2019-01-02 00:00:00|Rio Mar Shopping ...|         Cinto Linho|         1|248.0000000000000...|248.0000000000000...|
|           5|2019-01-02 00:00:00|      Shopping Barra|               Calça|         1|170.0000000000000...|170.0000000000000...|
|           6|2019-01-02 00:00:00| Shopping Ibirapuera|       Polo Listrado|         4|149.0000000000000...|596.0000000000000...|
|           7|2019-01-02 00:00:00|      Norte Shopping|Camisa Gola V Lis...|         1|116.0000000000000...|116.0000000000000...|
|           7|2019-01-02 00:00:00|      Norte Shopping|         Camisa Liso|         1|105.0000000000000...|105.0000000000000...|
|           8|2019-01-02 00:00:00|   Iguatemi Campinas|       Terno Estampa|         5|706.0000000000000...|3530.000000000000...|
|           9|2019-01-02 00:00:00|Shopping Center L...|         Tênis Linho|         1|294.0000000000000...|294.0000000000000...|
|           9|2019-01-02 00:00:00|Shopping Center L...|       Casaco Xadrez|         2|259.0000000000000...|518.0000000000000...|
|          10|2019-01-02 00:00:00|Passei das Águas ...|     Camiseta Xadrez|         2|200.0000000000000...|400.0000000000000...|
|          10|2019-01-02 00:00:00|Passei das Águas ...|          Cueca Liso|         1|69.00000000000000...|69.00000000000000...|
|          11|2019-01-02 00:00:00|     Shopping Recife|            Camiseta|         1|180.0000000000000...|180.0000000000000...|
|          11|2019-01-02 00:00:00|     Shopping Recife|      Calça Listrado|         2|181.0000000000000...|362.0000000000000...|
|          11|2019-01-02 00:00:00|     Shopping Recife|      Camisa Estampa|         1|113.0000000000000...|113.0000000000000...|
|          12|2019-01-02 00:00:00|Shopping Midway Mall|        Short Xadrez|         4|100.0000000000000...|400.0000000000000...|
|          12|2019-01-02 00:00:00|Shopping Midway Mall|          Sunga Liso|         2|114.0000000000000...|228.0000000000000...|
+------------+-------------------+--------------------+--------------------+----------+--------------------+--------------------+
only showing top 20 rows

In [175]:
# GroupBy e Sum para somar valor de faturamento de cada loja

df_faturamento = df_ranking["ID Loja","Valor Final"].groupby("ID Loja").sum()\
.withColumnRenamed("sum(Valor Final)", "Faturamento")

# Ordenando e renomeando coluna de faturamento

df_faturamento = df_faturamento.sort("Faturamento",ascending=False)
df_faturamento = df_faturamento.withColumn("Faturamento",func.round(df_faturamento["Faturamento"],2))
df_faturamento.show()

+--------------------+-----------+
|             ID Loja|Faturamento|
+--------------------+-----------+
|   Iguatemi Campinas| 1762419.00|
| Shopping Vila Velha| 1731167.00|
| Bourbon Shopping SP| 1726110.00|
|      Rio Mar Recife| 1722766.00|
|  Shopping SP Market| 1721763.00|
|Palladium Shoppin...| 1721120.00|
|      Norte Shopping| 1711968.00|
|   Ribeirão Shopping| 1707122.00|
|  Iguatemi Esplanada| 1699681.00|
|Rio Mar Shopping ...| 1698430.00|
|Shopping Center L...| 1682870.00|
|Novo Shopping Rib...| 1678225.00|
|Shopping Iguatemi...| 1674824.00|
|Center Shopping U...| 1668921.00|
|Shopping União de...| 1663770.00|
|      Shopping Barra| 1653103.00|
|Passei das Águas ...| 1649014.00|
|   Shopping Eldorado| 1648111.00|
|   Salvador Shopping| 1646739.00|
|Shopping Center I...| 1640486.00|
+--------------------+-----------+
only showing top 20 rows

In [181]:
# GroupBy e Sum para somar valor de produtos vendidos por cada loja

df_produtos_vendidos = df_ranking["ID Loja","Quantidade"].groupby("ID Loja").sum()\
.withColumnRenamed("sum(Quantidade)", "Produtos Vendidos")

# Ordenando da loja que mais vendeu para a que menos vendeu

df_produtos_vendidos = df_produtos_vendidos.sort("Produtos Vendidos",ascending=False)
df_produtos_vendidos.show()

+--------------------+-----------------+
|             ID Loja|Produtos Vendidos|
+--------------------+-----------------+
| Shopping Vila Velha|             9224|
|Palladium Shoppin...|             9091|
|      Norte Shopping|             9014|
|Shopping Center L...|             8938|
|Rio Mar Shopping ...|             8937|
|   Iguatemi Campinas|             8935|
|  Shopping SP Market|             8927|
| Bourbon Shopping SP|             8863|
|      Rio Mar Recife|             8863|
|   Ribeirão Shopping|             8825|
|Novo Shopping Rib...|             8751|
|Shopping União de...|             8730|
| Shopping Ibirapuera|             8723|
|   Shopping Eldorado|             8719|
|   Salvador Shopping|             8698|
|Shopping Center I...|             8675|
|      Shopping Barra|             8638|
|Shopping Iguatemi...|             8629|
|Center Shopping U...|             8627|
|Passei das Águas ...|             8618|
+--------------------+-----------------+
only showing top 20 rows

In [203]:

#df_ticket = df_ranking.withColumn("Ticket",df_faturamento["Faturamento"] / df_produtos_vendidos["Produtos Vendidos"])
#df_ticket.show()

df_ranking.createOrReplaceTempView('df_table')


df_ticket = spark.sql(
    
    'select , col2 - col1 as col3 from df_table'
    

)

AnalysisException: [MISSING_ATTRIBUTES.RESOLVED_ATTRIBUTE_MISSING_FROM_INPUT] Resolved attribute(s) "Faturamento", "Produtos Vendidos" missing from "Código Venda", "Data", "ID Loja", "Produto", "Quantidade", "Valor Unitário", "Valor Final" in operator !Project [Código Venda#660L, Data#661, ID Loja#662, Produto#663, Quantidade#664L, Valor Unitário#665, Valor Final#666, (Faturamento#714 / cast(Produtos Vendidos#771L as decimal(20,0))) AS Ticket#786]. ;
!Project [Código Venda#660L, Data#661, ID Loja#662, Produto#663, Quantidade#664L, Valor Unitário#665, Valor Final#666, (Faturamento#714 / cast(Produtos Vendidos#771L as decimal(20,0))) AS Ticket#786]
+- LogicalRDD [Código Venda#660L, Data#661, ID Loja#662, Produto#663, Quantidade#664L, Valor Unitário#665, Valor Final#666], false